.profile img{
    width: 60px;
    height: 60px;
    object-fit: fill;
}
.profile>h4 a{
    color: black;
}

.profile>h4 a:hover{
    color: #17a2b8;
}

.overlay img{
    object-fit: fill;
    height: 400px;
    width: 100%;
}

.footer-copyright a{
    color:  #E1306C;
}